set timeout=10

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Try or Install Ubuntu (Autoinstall)" {
    set gfxpayload=keep
    
    # Zwingt GRUB, nach der Partition zu suchen, auf der vmlinuz liegt,
    # und setzt diese automatisch als 'root'.
    search --no-floppy --set=root --file /casper/vmlinuz
    
    # Kernel-Parameter mit maskiertem Semikolon
    linux /casper/vmlinuz quiet splash split_lock_detect=off autoinstall ds=nocloud\;s=/cdrom/preseed/ --- 
    
    # Jetzt mit der korrekten Endung .gz, die wir auf deinem Bild sehen!
    initrd /casper/initrd.gz
}

# Optional: Ein abgesicherter Modus für Problemfälle
menuentry "Ubuntu (safe graphics)" {
    set gfxpayload=keep
    linux /casper/vmlinuz nomodeset quiet splash ---
    initrd /casper/initrd.gz
}

grub_platform
if [ "$grub_platform" = "efi" ]; then
    menuentry 'Boot from next volume' {
        exit 1
    }
    menuentry 'UEFI Firmware Settings' {
        fwsetup
    }
else
    menuentry 'Test memory' {
        linux16 /boot/memtest86+x64.bin
    }
fi